
body{
    display: flex;
    flex-flow: column;
    height: 100vh;
    gap: 6px;

}

.input,
.scoreboard,
.message{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.scoreboard{
    align-items: flex-end;
    margin-top: auto;
    height: 50%;
}

.message{
    height: 50px;
    align-items: center;
    flex-shrink: 1;
}
.message p{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
}

.input{
    align-items: flex-start;
    margin-bottom: auto;
    gap: 22px;
    height: 50%;

}

button{
    padding: 12px 24px;
    font-size: 32px;
    border-radius: 26px;
    border-width: 4px;
}
table{
    text-align: center;
    table-layout: fixed;
    width: 280px;
}
th{
    font-size: 24px;
    padding-bottom: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}